.debug {
  position: fixed;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px;
  background: transparent;
  font-family: monospace;
  -webkit-text-stroke: 0.2px #000000;
  color: #ffffff;
  font-size: 2rem;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(100080821.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slots {
  position: relative;
  width: 720.9px;
  height: 711px;
  display: flex;
  justify-content: space-between;
  padding: 23.7px;
  background: linear-gradient(45deg, grey 0%, lightgray 100%);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.slots::before, .slots::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}
.slots::before {
  left: 0;
  transform: translate(-200%, -50%);
}
.slots::after {
  right: 0;
  transform: translate(200%, -50%);
}
@keyframes win1 {
  0% {
    background: linear-gradient(45deg, orange 0%, yellow 100%);
    box-shadow: 0 0 80px orange;
  }
  100% {
    background: linear-gradient(45deg, grey 0%, lightgrey 100%);
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
  }
}
@keyframes win2 {
  0% {
    background: linear-gradient(45deg,orange 0%, yellow 100%);
    box-shadow: 0 0 80px orange;
  }
  100% {
    background: linear-gradient(45deg, grey 0%, lightgrey 100%);
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
  }
}
.slots.win1 {
  animation: win1 200ms steps(2, end) infinite;
}
.slots.win2 {
  animation: win2 200ms steps(2, end) infinite;
}
.slots .reel {
  position: relative;
  width: 237px;
  height: 711;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  background-image: url(slotreel.webp);
  background-position: 0 0;
  background-repeat: repeat-y;
}
.slots .reel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.4) 100%);
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.3);
}
.slots p {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, calc(100% + 30px));
  text-align: center;
  font-size: 0.8rem;
  color: #444;
}
.slots p:last-child {
  transform: translate(-50%, calc(100% + 60px));
}
.slots p a {
  color: red;
  font-weight: 700;
}
.spin-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	position: absolute; /* Позволяет позиционировать кнопку относительно родительского элемента */
    bottom: 20px; /* Расстояние от нижней части экрана */
    left: 50%; /* Центрирование кнопки по горизонтали */
    transform: translateX(-50%); /* Сдвиг кнопки влево на половину её ширины для центрирования */
    padding: 10px 20px; /* Отступы для кнопки */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
}
